<h1>TODOS</h1>
<ul>
    <% @todo_items.each do |todo_item| %>
        <li>
            <%= todo_item.description %>
            <%= link_to 'Delete', todo_item, method: :delete, id: dom_id(todo_item, :delete) %>
        </li>
    <% end %>
</ul>
