<h2>List</h2>
<ul>
    <% @todo_items.each do |todo_item| %>
        <li>
            <%= todo_item.description %>
            <%= link_to t('delete'), todo_item, method: :delete, id: dom_id(todo_item, :delete) %> |
            <%= link_to t('edit'), edit_todo_item_path(todo_item) %> |
            <%= link_to t('show'), todo_item %>
        </li>
    <% end %>
</ul>
